@model IEnumerable<PhotoWork.Models.AuthenticatedUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.passwords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isBanned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin.logFileLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.LinkSocialmedia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photographer.LinkProject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.passwords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isBanned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.logFileLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.LinkSocialmedia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photographer.LinkProject)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Email }) |
            @Html.ActionLink("Details", "Details", new { id=item.Email }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Email })
        </td>
    </tr>
}

</table>
