@model PhotoWork.DTO.PhotographerProfile
@{
    ViewBag.Title = "GoToProfile";
    Layout = "~/Views/Shared/_PhotographerLayout.cshtml";
}

<h2>GoToProfile</h2>
@Html.DisplayNameFor(model => model.Username): @Model.Username
@Html.DisplayNameFor(model => model.phoneNumber): @Model.phoneNumber
@Html.DisplayNameFor(model => model.FullName): @Model.FullName
@Html.DisplayNameFor(model => model.TotalProjectDone): @Model.TotalProjectDone
@Html.DisplayNameFor(model => model.Bio): @Model.Bio
@Html.DisplayNameFor(model => model.LinkProject): @Model.LinkProject
@Html.DisplayNameFor(model => model.LinkSocialMedia): @Model.LinkSocialMedia
@Html.DisplayNameFor(model => model.CurrentMoney): @Model.CurrentMoney



