@model IEnumerable<PhotoWork.Models.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PhotographerLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Services")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAvaiable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ServiceName
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.isAvaiable
            </td>
            <td>
                @item.CreateDate
            </td>
            <td>
                @item.isDelete
            </td>
            <td>
                @item.deleteDate
            </td>
            <td>
                @item.Rating
            </td>
            <td>
                @item.ID
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Services", new { id = item.ID },"") |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

