@model IEnumerable<PhotoWork.Models.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PhotographerLayout.cshtml";
}

<h2 style="text-align:center;color:chocolate">Quản lý dịch vụ</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", "Services", new {}, new { @class = "btn btn-success",style = "color:white;margin-left:40px" })
</p>
<div style="margin:0px 40px 0px 40px">
    <table class="table">
        <tr style="background-color:orange">
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAvaiable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                Quản lý
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="background-color:antiquewhite">
                <td style="width:250px">
                    @item.ServiceName
                </td>
                <td style="width:400px">
                    @item.Description
                </td>
                <td>
                    @if (item.isAvaiable.Value)
                    {
                    <span>Mở</span>
                    }
                    else
                    {
                    <span>Đóng</span>
                    }
                </td>
                <td>
                    @item.CreateDate
                </td>
                <td>
                    @item.Rating
                </td>

                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", "Services", new { id = item.ID }, new { @class = "btn btn-warning", style = "color:black" })
                    @Html.ActionLink("Xóa", "Delete", "Services", new { id = item.ID }, new { @class = "btn btn-danger",style = "color:white" })
</td>
            </tr>
        }

    </table>
</div>
