
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to PhotoWork</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/img/Logo_WhiteBackGroud.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/owl")  <!--Owl Carousel-->
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <!-- Navigation -->
        <nav class="fixed-top navbar-custom navbar-fixed-top top">
            <div class="container">
                <a class="navbar-brand" href="/Home/Index"><img src="~/Content/img/Logo_WhiteBackGroud.png" width="20px" height="20px" /> PhotoWork</a>
                <div class="navbar-brand">
                    <div class="search-area">
                        @using (Html.BeginForm("Search", "Services", FormMethod.Post))
                        {
                            <select name="searchBy">
                                <option value="Service">Dịch Vụ</option>
                                <option value="Photographer">Photographer</option>
                            </select>
                            <input type="text" name="content" required placeholder="Tìm kiếm photographer/dịch vụ" />
                            <button class="btn btn-secondary">Search</button>
                        }
                    </div>
                </div>
                <div class="navbar-brand" id="navbarResponsive" style="float:right">
                    <a href="/Home/Register" class="regis">
                        ĐĂNG KÍ
                    </a>
                    <a data-toggle="modal" href="#exampleModal" class="regis">
                        ĐĂNG NHẬP
                    </a>
                </div>
            </div>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="dropdown">
                            <button type="button" class="btn btn-light" data-toggle="dropdown">
                                Chụp Ảnh
                            </button>
                            <div class="dropdown-menu">
                                @Html.ActionLink("Ngoại Cảnh", "Index", "Services", new { id = "1" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Studio", "Index", "Services", new { id = "2" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Sự kiện/ hội nghị", "Index", "Services", new { id = "3" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Nhóm", "Index", "Services", new { id = "4" }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button type="button" class="btn btn-light" data-toggle="dropdown">
                                Quay Phim
                            </button>
                            <div class="dropdown-menu">
                                @Html.ActionLink("Ngoại Cảnh", "Index", "Services", new { id = "5" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Studio", "Index", "Services", new { id = "6" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Sự kiện/ hội nghị", "Index", "Services", new { id = "7" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Nhóm", "Index", "Services", new { id = "8" }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button type="button" class="btn btn-light" data-toggle="dropdown">
                                Chỉnh Sửa
                            </button>
                            <div class="dropdown-menu">
                                @Html.ActionLink("Ảnh", "Index", "Services", new { id = "9" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Video/Clip", "Index", "Services", new { id = "10" }, new { @class = "dropdown-item" })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        @Html.Hidden("pageInitCounter", Session["Account_ERR"])
        @Html.Hidden("pageInitCounter1", Session["ERROR"])

        <!-- LOGIN MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("Login", "Home", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
                    {

                        <div class="modal-body">
                            <div class="container">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="control-label col-md-4">Email:</div>
                                    <div class="col-md-12">
                                        <input class="form-control" type="email" name="email" required />
                                        <span id="email_ERR" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-4">Mật khẩu: </div>
                                    <div class="col-md-12">
                                        <input class="form-control" type="password" name="password" required />
                                        <span id="pasword_ERR" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span id="ERR" style="color:red;font-style:italic;margin-left:25px;"></span>
                                </div>


                                <span class="psw">

                                    <a href="" style="text-decoration: none " id="loginform-left">Bạn đã quên mật khẩu?</a>

                                </span>
                            </div><br />

                            <div class="container">
                                <div class="or-label">
                                    <hr /><b>HOẶC</b>
                                </div>
                                <button class="btn btn-danger" type="button" style="margin-left: 24%;">ĐĂNG NHẬP VỚI GOOGLE</button><br><br>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Đăng nhập</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- REGISTER MODAL -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal1Label">Đăng kí</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  @*  @using (Html.BeginForm("Register", "Home", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
                    {

                        <div class="modal-body">
                            <div class="container">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model =>model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Email)
                                        <font color="red">@Html.ValidationMessageFor(model => model.Email)</font>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.passwords, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.passwords)
                                        <font color="red">@Html.ValidationMessageFor(model => model.passwords)</font>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.repasswords, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.repasswords)
                                        <font color="red">@Html.ValidationMessageFor(model => model.repasswords)</font>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-12">
                                        <select name="role">
                                            <option>Client</option>
                                            <option>Photographer</option>
                                        </select>
                                        <span id="email_ERR" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.phoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.phoneNumber)
                                        <font color="red">@Html.ValidationMessageFor(model => model.phoneNumber)</font>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.FullName)
                                        <font color="red">@Html.ValidationMessageFor(model => model.FullName)</font>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span id="ERR" style="color:red;font-style:italic;margin-left:25px;"></span>
                                </div>

                            </div><br />


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Đăng kí</button>
                        </div>
                    }*@
                </div>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <!-- Footer -->
    <footer>
        <div>
            <h3>Copyright &copy; 2021 PhotoWork.com</h3>
            <h5>Liên hệ: 0123-456-789</h5>
            <h5>Email:demoweb@gmail.com</h5>
        </div>
    </footer>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            var msg = $("#pageInitCounter").val();
            if (msg.length != 0) {
                $("#exampleModal").modal();
                $("#ERR").html('*' + msg);
            }
            var msg1 = $("#pageInitCounter1").val();
            if (msg1.length != 0) {
                $("#exampleModal1").modal();
            }
        });
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
