@model PhotoWork.Models.AuthenticatedUser
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/owl")  <!--Owl Carousel-->
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <!-- Navigation -->
    <nav class="fixed-top navbar-custom navbar-fixed-top top">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">  PhotoWork</a>
            <div class="navbar-brand" id="navbarResponsive" style="float:right">
                @Html.ActionLink("Đăng kí", "Register")
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Open modal
                </button>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="dropdown">
                        <button type="button" class="btn btn-light" data-toggle="dropdown">
                            Chụp Ảnh
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Ngoại cảnh</a>
                            <a class="dropdown-item" href="#">Studio</a>
                            <a class="dropdown-item" href="#">Sự kiện/ hội nghị</a>
                            <a class="dropdown-item" href="#">Nhóm</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <button type="button" class="btn btn-light" data-toggle="dropdown">
                            Quay Phim
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Studio</a>
                            <a class="dropdown-item" href="#">Ngoại cảnh</a>
                            <a class="dropdown-item" href="#">Sự kiện/ hội nghị</a>
                            <a class="dropdown-item" href="#">Theo ngày</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <button type="button" class="btn btn-light" data-toggle="dropdown">
                            Chỉnh Sửa
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Ảnh</a>
                            <a class="dropdown-item" href="#">Video/Clip</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- LOGIN MODAL -->
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    @RenderBody()
    <!-- Footer -->
    <footer>
        <div>
            <h3>Copyright &copy; 2021 PhotoWork.com</h3>
            <h5>Liên hệ: 0123-456-789</h5>
            <h5>Email:demoweb@gmail.com</h5>
        </div>
    </footer>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
</body>
</html>
