@model PhotoWork.Models.AuthenticatedUser

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐĂNG KÍ THÀNH VIÊN</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/owl")  <!--Owl Carousel-->
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    
    @RenderBody()

    <script>
        function dangki() {
            //alert(10);
            var passwords = document.getElementById("passwords").value;
            var repasswords = document.getElementById("repasswords").value;
            if (passwords != repasswords) {
                document.getElementById("repasswordserror").innerHTML = "Mật khẩu không trùng khớp!";
                return;
            } else {
                document.forms["register"].submit();
            }
        }
    </script>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)


</body>
</html>
