@model PhotoWork.Models.Service

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h2 style="text-align:center;color:chocolate">Xóa dịch vụ</h2>

        <h3>Bạn có chắc muốn xóa dịch vụ này?</h3>
        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.ServiceName, new { style = "color:darkred" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ServiceName)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Description, new { style = "color:darkred" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.isAvaiable, new { style = "color:darkred" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.isAvaiable)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.CreateDate, new { style = "color:darkred" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Rating, new { style = "color:darkred" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rating)
                </dd>


            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> <br/><br/>
                    <div>
                        @Html.ActionLink("Quay về", "Index", "Photographers", new { }, new { @class = "btn btn-warning", style = "text-align:center" })
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>

