@model IEnumerable<PhotoWork.Models.Service>

@{
    ViewBag.Title = "Details";
    if (Session["ROLE"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (String.Compare(Session["ROLE"].ToString(), "client") == 0)
    {
        Layout = "~/Views/Shared/_ClientLayout.cshtml";
    }
}

<br />
<div class="container">
    <label>
        @Session["test"]
        PHOTOWORK <img src="https://img.icons8.com/material-sharp/24/000000/chevron-right.png" height="18px" />
        @ViewBag.Category <img src="https://img.icons8.com/material-sharp/24/000000/chevron-right.png" height="18px" />
        @ViewBag.Skill
    </label>
</div>
<br />


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="service-form">
                    <img src="~/Content/img/01.jpg" class="img-service" />
                    <div class="photographer-pro">
                        <img src="~/Content/img/01.jpg" class="avatar" />
                        @Html.DisplayFor(modelItem => item.FullName)
                        <p> @Html.DisplayFor(modelItem => item.Description)</p>
                        <i class="fa fa-star" style="color:#f0b30c">@item.Rating</i>
                        <i style="float:right; margin-right:10px"><a data-toggle="modal" data-target="#myModal" href="Services/MoreDetails/@item.ID">Đặt dịch vụ </a></i>
                    </div><hr />
                    <div class="price">
                        Giá khởi điểm @Html.DisplayFor(modelItem => item.StartingPrice)k
                    </div>
                </div>
            </div>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Form đặt dịch vụ</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Thời gian bắt đầu

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
