@model IEnumerable<PhotoWork.Models.Service>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <label>
        @Session["test"]
        PHOTOWORK <img src="https://img.icons8.com/material-sharp/24/000000/chevron-right.png" height="18px" />
        @ViewBag.Category <img src="https://img.icons8.com/material-sharp/24/000000/chevron-right.png" height="18px" />
        @ViewBag.Skill
    </label>
</div>
<br />


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="service-form">
                    <img src="~/Content/img/01.jpg" class="img-service" />
                    <div class="photographer-pro">
                        <img src="~/Content/img/01.jpg" class="avatar" />
                        @Html.DisplayFor(modelItem => item.FullName)
                        <p> @Html.DisplayFor(modelItem => item.Description)</p>
                        <i class="fa fa-star" style="color:#f0b30c">4.2</i>
                    </div><hr />
                    <div class="price">
                        Giá khởi điểm @Html.DisplayFor(modelItem => item.StartingPrice)k
                    </div>
                </div>
            </div>
        }
            

        </div>

</div>

@*<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvaiable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvaiable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photographer.LinkProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photographer.LinkProject)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
*@