@model PhotoWork.Models.Client

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2 style="text-align:center;margin-top:10px;">Thông tin cá nhân của bạn.</h2>
<hr />
<div class="container">

    <img src="~/storage/avatar/@Model.AuthenticatedUser.Avatar" alt="" width="150" height="150" style="margin-left:43%;border-radius:50%">
    <div class="row">
        <div class="col" style="text-align:right">
            @Html.DisplayNameFor(model => model.AuthenticatedUser.FullName)
        </div>
        <div class="col" style="text-align:left">
            @Html.DisplayFor(model => model.AuthenticatedUser.FullName)
        </div>
    </div>

    <div class="row">
        <div class="col" style="text-align:right">
            @Html.DisplayNameFor(model => model.AuthenticatedUser.phoneNumber)
        </div>
        <div class="col" style="text-align:left">
            @Html.DisplayFor(model => model.AuthenticatedUser.phoneNumber)
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align:right">
            @Html.DisplayNameFor(model => model.AuthenticatedUser.passwords)
        </div>
        <div class="col" style="text-align:left">
            
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align:right">
            @Html.DisplayNameFor(model => model.LinkSocialmedia)
        </div>
        <div class="col" style="text-align:left">
           <a href="https://@Model.LinkSocialmedia"> @Html.DisplayFor(model => model.LinkSocialmedia) </a>
        </div>
    </div>

</div>
